#bodycss {
margin: 0; 
padding: 0;
/*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-image: url(../images/Background/BG.jpg);
}

#top {
vertical-align: top;
height: 80px;
width: 100%;
background-color: rgba(255,255,255,0.8);
margin: auto;
margin-top: 10px;
}

#topicon img {
height: 80px; 
width: 120px;
}

#topicon {
float: left; 
margin-left: 25px;
}

#topSelect {
float: left;
}

#topSelect ul{
list-style-type: none;
}

#topSelect li{
float: left;
font-size: 28px;
}

#topSelect li a:hover{
background-color: darkgreen;
color: white;
}

#topSelect li a{
float: left;
line-height: 10px;
color: #333;
font-weight: 200;
padding-left: 12px;
padding-right: 12px;
transition: all 0.5s ease;
padding-top: 20px;
padding-bottom: 20px;
display: block;
color: black;
text-decoration: none;
font-family: sans-serif;
}

#SMedia-1{
float: right;
display: block;
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
}

#SMedia-2{
float: right;
display: block;
margin-top: 20px;
}

#FaceB{
background-image: url('../images/Social Media/facebook.png');
background-repeat: no-repeat;
height: 40px;
width: 40px;
border-radius: 20px;
}

#FaceB:hover {
background-image: url('../images/Social Media/facebook2.png');
height: 50px;
width: 50px;
border-radius: 20px;
}

#Inst{
background-image: url('../images/Social Media/instagram.png');
background-repeat: no-repeat;
width: 40px;
height: 40px;
border-radius: 20px;
}

#Inst:hover {
background-image: url('../images/Social Media/instagram2.png');
width: 50px;
height: 50px;
border-radius: 50px;
}